<footer class="text-center text-white mt-4" style="background-color: #151515">
  <hr class="text-dark">
  <div class="container">
    <footer class="py-5">
      <div class="row">
           
        <div class="col align-self-center">
          <h5>Samsung Indonesia</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Categories</a></li>
            <li class="nav-item mb-2"><a href="{% url 'toko:checkout' %}" class="nav-link p-0 text-muted">Checkout</a></li>
            <li class="nav-item mb-2"><a href="{% url 'toko:kontak' %}" class="nav-link p-0 text-muted">Contact Us</a></li>
          </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of whats new and exciting from us.</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <a class="btn btn-primary" href='https://gmail.com/' type="button">Subscribe</a>

            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>© 2023 Samsung Indonesia, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="btn-link btn-floating btn-lg text-white" href='https://twitter.com/' role="button" target='_blank' data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
            <a class="btn-link btn-floating btn-lg text-white" href='https://facebook.com/' role="button" target='_blank' data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
            <a class="btn-link btn-floating btn-lg text-white" href='https://google.com/' role="button" target='_blank' data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>
            <a class="btn-link btn-floating btn-lg text-white" href='https://instagram.com/' role="button" target='_blank' data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
            <a class="btn-link btn-floating btn-lg text-white" href='https://youtube.com/' role="button" target='_blank' data-mdb-ripple-color="dark"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</footer>